@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* remove any margin that browsers add to body */
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}